/* BASIC ELEMENTS STYLING */
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.3rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8F8F8F;
}



/* BROAD STYLING */
h1, h2, h3, h4, h5, h6, .heavy-font {
  font-weight: 900;
}

.ln-height {
  line-height: 1.5;
}

.left-align {
  text-align: left;
}

.pad-seven-fifteen {
  padding: 7% 15%;
}

.pink-color {
  background-color: #FF4C68;
}

.orange-color {
  background-color: #EF8172;
}

.orange-icons {
  color: #EF8172;
}

.white-color {
  color: #FFF;
}

.download-button {
  margin: 5% 3% 5% 0;
}



/* TITLE SECTION */
.container-fluid {
  padding: 3% 15% 7%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}

.title-image {
  width: 22%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}



/* FEATURE SECTION */
#features {
  position: relative;
  background-color: white;
}

.feature-box {
  padding: 5%;
}

.icon {
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}



/* TESTIMONIAL SECTION */
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/* PRESS SECTION */
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}



/* PRICING SECTION */
#pricing {
  padding: 6rem;
}

.pricing-column {
  padding: 3% 2%;
}



/* FOOTER SECTION */
.cta-heading {
  font-size: 3.5rem;
}

.social-icon {
  margin: 20px 10px;
}



/* MEDIA QUERIES */
@media (max-width: 1060px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
